---
const { name, image } = Astro.props;
const site = '/animal-blogs/' + name + '/';
---
<a href={site.replaceAll(" ", "-")}>
    <img src={image}>
    <p>{name}</p>
</a>

<style>
    a {
        text-decoration: none;

        width: min(100%, 300px);
        height: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;

        padding: 0.3rem;
        background-color: rgb(128, 255, 128);
    }

    img {
        width: 100%;
    }

    p {
        margin: 0.2rem;
        color: black;
    }
</style>