---
import Navigation from "./components/Navigation.astro";
import AnimalCard from "./components/AnimalCard.astro";
const allAnimals = [
  {image: "/src/img/gorilla.jpg", name: "Gorilla"},
  {image: "/src/img/leopard.jpg", name: "Leopard"},
  {image: "/src/img/python.jpg", name: "Python"},
  {image: "/src/img/forest-elephant.jpg", name: "Forest Elephant"}
];
const pageTitle = "The Jungle - Gallery";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/src/styles/global.css" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Navigation />
    <h1>Animal Gallery</h1>
    <p>Check out all of these awesome animals!</p>
    <ul>
      {allAnimals.map((data) => <li><AnimalCard image={data.image} name={data.name} /></li>)}
    </ul>
  </body>
</html>
